<html>

<head>
<title>Home</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
	

</head>

<body>



<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="#"style="padding:50px">STUDENT INFORMATION CHATBOT SYSTEM<span class="label label-success text-capitalize"></span></span></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/adminlogin.html">Admin</a></li>
                <li><a href="/studentlogin.html">Student</a></li>
				  <li><a href="/parentlogin.html">Parents</a></li>
                <li><button type="button" class="btn btn-success navbar-btn btn-circle">Welcome</button></li>
            </ul>
        </div>
      </div>
    </nav>
    <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="content">
                  <div class="pull-middle">
				  <br><br><br>
				   <br><br><br> <br><br><br>
				  
                    <h3 class="page-header">
					The project titled is ”Student Information Chatbot System”. This System is a web application
					which provides answer to the query of the student. Students just have to query through the chatbot which is
					used for chatting. Students can chat using any format.
					</h3>

                  </div>              
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                <div class="phone">
                    <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
                </div>
            </div>
          </div>
        </div>
    </header>
<footer class="footer text-center">
        <div class="container">
            <small>© Copyright 2020. Crafted with love by <a href="">Ruthrakrisna</a></small>
        </div>
    </footer>
</div>

</body>




</html>
